html {
  font-family: Montserrat;
  font-size: 12px;
  height: auto;
}

body {
  background: white;
  height: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  color: DarkSlateBlue;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

h2 {
  color: DarkSlateBlue;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

button {
  cursor: pointer;
  background-color: DarkSlateBlue;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px;
}

input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

table, tbody, th, td {
  border: none;
  border-collapse: collapse;
  padding: 5px 10px;
}

.no-padding {
  padding: 0px 0px;
}

.text-center {
  text-align: center;
}

.light-dark {
  background-color: SeaShell;
  color: #202020;
}

.grey-light {
  background-color: grey;
  color: #fcfcfc;
}

.dark-light {
  background-color: #202020;
  color: SeaShell;
}

.lavender-dark {
  background-color: Lavender;
  color: #202020;
}

.lavender-red {
  background-color: Lavender;
  color: red;
}

.aliceblue-dark {
  background-color: AliceBlue;
  color: #202020;
}

.aquamarine-dark {
  background-color: Aquamarine;
  color: #202020;
}

.table-lavender-dark {
  background-color: Lavender;
  color: #202020;
}

.card {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.grid-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-2-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-5-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-5 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-1-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-2-3-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-3-2 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

.grid-1-1-1-1 {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
}

@media (min-width: 600px) {
  .grid-1 { grid-template-columns: 1fr }
  .grid-1-1 { grid-template-columns: 1fr 1fr; }
  .grid-1-2 { grid-template-columns: 1fr 2fr; }
  .grid-2-1 { grid-template-columns: 2fr 1fr; }
  .grid-5-1 { grid-template-columns: 5fr 1fr; }
  .grid-1-5 { grid-template-columns: 1fr 5fr; }
  .grid-1-1-1 { grid-template-columns: 1fr 1fr 1fr; }
  .grid-2-3-1 { grid-template-columns: 2fr 3fr 1fr; }
  .grid-1-3-2 { grid-template-columns: 1fr 3fr 2fr; }
  .grid-1-1-1-1 { grid-template-columns: 1fr 1fr 1fr 1fr; }
}

.viewer {
  display: flex;
  flex-direction: column-reverse;
  overflow-wrap: anywhere;
  overflow: auto;
  width: 100%;
  height: 100%;
}
